.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 64px;
  padding-top: 30px;/* Ajuste o valor conforme necessário */
}

.profile {
  text-align: center;
  width: 500px; /* Ajuste a largura conforme necessário */
}

.profile-info {
  margin-bottom: 20px;
}

.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: black;
}

.fullname {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 500;
}

.username {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 100;
}

.stats {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.stats button {
  margin: 0 5px;
}

.profile-tabs {
  margin-top: 20px;
}

.tab-container{
  padding-top: 10px;
}

.card-header-content {
  display: flex;
}

.image-container {
  border-radius: 30%;
}

.text-container{
  margin-left: 20px;
  display: flex;

}

.subtitulo{
  display: flex;
}


.mat-mdc-card{
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  min-width: 400px;
  max-width: 460px;
}

.tab-container{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  gap: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
