<header class="fixed-toolbar">
  <app-toolbar></app-toolbar>
</header>

<div class="container">
  <div class="profile">
    <div class="profile-info">
      <img
        class="profile-picture"
        src="../../../../assets/images/3d_avatar_21.png"
        alt="Profile Picture"
      />
      <h1 class="fullname">King James</h1>
      <h1 class="username">@kingjames</h1>

      <div class="stats">
        <button mat-stroked-button color="primary">Editar perfil</button>
        <button mat-stroked-button color="primary">Inserir medidas</button>
      </div>
    </div>

    <div class="profile-tabs">
      <mat-tab-group>
        <mat-tab label="Estatisticas"></mat-tab>
        <mat-tab label="Comunidades"></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
