<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-subtitle>{{card.subtitleTop}}</mat-card-subtitle>
      <mat-card-title>{{card.title}}</mat-card-title>
      <mat-card-subtitle>{{card.subtitleBotton}}</mat-card-subtitle>
      <img mat-card-md-image [src]="card.photoUrl"  alt="" class="card_image">
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="card_content">
    {{card.contentBody}}
    <ul class="card-list">
      <li *ngFor="let item of card.itemList">
        {{item}}
      </li>
    </ul>
  </mat-card-content>
</mat-card>
