<app-toolbar></app-toolbar>

<div class="container">
  <div class="menu">
    <div class="menu__mes">
      <button mat-icon-button (click)="voltarMes()">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <mat-form-field appearance="outline">
        <mat-label>Mês</mat-label>
        <mat-select
          [(value)]="mesSelecionado"
          (selectionChange)="selecionarMes($event.value)"
        >
          <mat-option *ngFor="let mes of meses" [value]="mes">{{
            mes
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-icon-button (click)="avancarMes()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>

    <div class="menu__dias">
      <button mat-icon-button (click)="voltarSemana()">
        <mat-icon>chevron_left</mat-icon>
      </button>

      <div class="dias-semana" *ngIf="!isMobile">
        <button
          mat-raised-button
          *ngFor="let dia of diasSemana; let i = index"
          [color]="diaSelecionado === i ? 'primary' : 'accent'"
          (click)="selecionarDia(i)"
        >
          <div class="dia">{{ dia.dia }}</div>
          <div class="data">{{ dia.data | date : "dd" }}</div>
        </button>
      </div>

      <div class="dias-semana" *ngIf="isMobile">
        <button
          mat-mini-fab
          *ngFor="let dia of diasSemana; let i = index"
          [color]="diaSelecionado === i ? 'primary' : 'accent'"
          (click)="selecionarDia(i)"
        >
          <div class="dia">
            {{ dia.dia | slice : 0 : 1 }}
          </div>
          <div class="data">{{ dia.data | date : "dd" }}</div>
        </button>
      </div>

      <button mat-icon-button (click)="avancarSemana()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="content">
  <mat-grid-list [cols]="gridCols" gutterSize="10px" rowHeight="200px">
    <mat-grid-tile *ngFor="let agendamento of agendamentos">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title>{{ agendamento.communityName }}</mat-card-title>
          <mat-card-subtitle
            >{{ agendamento.checkinBooking }} -
            {{ agendamento.checkoutBooking }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content >
          <p>Status: {{ agendamento.applicationState }}</p>
        </mat-card-content>

        <mat-card-actions
          class="mat-card-actions-end"
          *ngIf="actionsButtons(agendamento, 'WAITING_FOR_APPROVAL')"
        >
          <button mat-mini-fab>
            <mat-icon>close</mat-icon>
          </button>
          <button mat-mini-fab>
            <mat-icon>done</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
