<div class="container">
  <div class="card">
    <div class="card__logo">
      <a routerLink="/account/auth">
        <img src="../../../../assets/images/Logo_300px.svg" alt="logo" />
      </a>

      <div class="card__logo_route">
        <h2 class="divisor__horizontal">Recuperar conta</h2>
        <mat-divider></mat-divider>
      </div>

      <form action="" class="card__form">
        <mat-form-field appearance="outline" class="input__field">
          <mat-label>Nome do usuário ou email</mat-label>
          <input matInput placeholder="insert you username" required />
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary">
          Recuperar conta
        </button>
      </form>
      <div class="card__link">
        <button mat-button routerLink="/account/create" type="button">
          Criar conta
        </button>
        <button mat-button routerLink="/account" type="button">
          Falar com suporte
        </button>
      </div>
    </div>
  </div>
</div>
