.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .card {
    width: 100%;
    padding: 1rem 0;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 2em;

      .upload-file{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 2em;
      }

      .input-field-fullwidth{
        width: 80%;
      }
      .input-field{
        width: 80%;
      }

      button {
        color: #FFF;
        width: 40%;
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .container {
    min-width: 320px;

    .card {
      max-width: 600px;
    }
  }
}

