<div class="container">
  <div class="card">
    <div class="card__logo">
      <a routerLink="/account">
        <img src="../../../../assets/images/Logo_300px.svg" alt="logo" />
      </a>

      <div class="card__logo_route">
        <h1 class="divisor__horizontal">Create account</h1>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div class="card__form">
      <mat-tab-group
        class="tab__group"
        #tabGroup
        (selectedTabChange)="tabChanged($event)"
      >
        <mat-tab label="Usuário">
          <form [formGroup]="userForm" novalidate class="form__group">
            <mat-form-field class="form__group__input" appearance="outline">
              <input
                matInput
                formControlName="username"
                placeholder="Nome de usuário"
                required
              />
            </mat-form-field>
            <mat-form-field class="form__group__input" appearance="outline">
              <input
                matInput
                formControlName="email"
                placeholder="Endereço de e-mail"
                required
              />
            </mat-form-field>
            <mat-form-field class="form__group__input" appearance="outline">
              <input
                matInput
                formControlName="password"
                type="password"
                placeholder="Senha"
                required
              />
            </mat-form-field>
            <mat-form-field class="form__group__input" appearance="outline">
              <mat-label>Tipo de conta</mat-label>
              <mat-select formControlName="profileType">
                <mat-option
                  *ngFor="let option of optionsAccount"
                  [value]="option.value"
                  >{{ option.label }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </form>
        </mat-tab>
        <mat-tab label="Perfil" [disabled]="!isUserFormValid()">
          <div [formGroup]="userForm">
            <form formGroupName="profile" novalidate class="form__group">
              <mat-form-field class="form__group__input" appearance="outline">
                <input
                  matInput
                  formControlName="firstName"
                  placeholder="Informe seu primeiro nome"
                />
              </mat-form-field>
              <mat-form-field class="form__group__input" appearance="outline">
                <input
                  matInput
                  formControlName="lastName"
                  placeholder="Informe seu primeiro sobrenome"
                />
              </mat-form-field>
              <mat-form-field class="form__group__input" appearance="outline">
                <input
                  matInput
                  formControlName="socialName"
                  placeholder="Nos informe um nome social se desejar"
                />
              </mat-form-field>
              <mat-form-field class="form__group__input" appearance="outline">
                <input
                  matInput
                  formControlName="cpf"
                  placeholder="Insira o CPF"
                />
              </mat-form-field>
              <mat-form-field class="form__group__input" appearance="outline">
                <input
                  matInput
                  formControlName="birthDate"
                  placeholder="Data de nascimento"
                />
              </mat-form-field>
            </form>
          </div>
        </mat-tab>
        <mat-tab label="Endereço" [disabled]="!isProfileFormValid()">
          <div [formGroup]="userForm">
            <div formGroupName="profile">
              <form formGroupName="locale" novalidate class="form__group">
                <mat-form-field class="form__group__input" appearance="outline">
                  <input matInput formControlName="street" placeholder="Rua" />
                </mat-form-field>
                <mat-form-field class="form__group__input" appearance="outline">
                  <input
                    matInput
                    formControlName="number"
                    placeholder="Número"
                  />
                </mat-form-field>
                <mat-form-field class="form__group__input" appearance="outline">
                  <input matInput formControlName="city" placeholder="Cidade" />
                </mat-form-field>
                <mat-form-field class="form__group__input" appearance="outline">
                  <input
                    matInput
                    formControlName="state"
                    placeholder="Estado"
                  />
                </mat-form-field>
                <mat-form-field class="form__group__input" appearance="outline">
                  <input
                    matInput
                    formControlName="zipCode"
                    placeholder="Código postal/Cep"
                  />
                </mat-form-field>
              </form>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="actions">
        <button
          mat-button
          (click)="previousTab()"
          [disabled]="selectedTabIndex === 0"
        >
          Voltar
        </button>
        <button
          mat-button
          (click)="nextTab()"
          [disabled]="!tabIsValid()"
          *ngIf="!validForm(); else botaoSalvar"
        >
          Próximo
        </button>
        <ng-template #botaoSalvar>
          <button mat-button color="primary" [disabled]="!userForm.valid"
          (click)="submitForm()">
            Criar
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
