<div class="container">
  <div class="card">
    <div class="card__logo">
      <a routerLink="/account">
        <img src="../../../../assets/images/Logo_300px.svg" alt="logo" />
      </a>

      <div class="card__logo_route">
        <h1 class="divisor__horizontal">Create account</h1>
        <mat-divider></mat-divider>
      </div>
    </div>
    <form action="" class="card__form">
      <mat-form-field appearance="outline" class="input__field">
        <mat-label>Username</mat-label>
        <input matInput placeholder="insert you username" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="input__field">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" required />
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input__field">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="insert you password"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input__field">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          placeholder="insert you password"
          required
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPassword"
        >
          <mat-icon>{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <section>
        <mat-checkbox class="input__checkbox" color="primary"
          >Declaro que li e aceito todos os termos de uso do
          serviço.</mat-checkbox
        >
      </section>
      <button type="submit" mat-raised-button color="primary">
        Create Account
      </button>
    </form>
  </div>
</div>
