<div class="card">
  <img [src]="card.photoUrl" alt="Card Photo" class="card__photo" />
  <div class="card__content">
    <div class="card__content__body">
      <h3 class="card__content__body__name">
        {{ card.name }}
      </h3>
      <h4 class="card__content__body__subtitle">
        {{ card.address }}
      </h4>
    </div>

    <div class="card__content__footer">
      <ul>
        <li
          *ngFor="let sport of card.availableSports"
          class="card__content__footer__list"
        >
          {{ sport }}
        </li>
      </ul>
    </div>

    <button mat-raised-button color="primary">Alugar</button>
  </div>
</div>
