.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

  .card {
    width: 100%;
    min-width: 350px;
    max-width: 1280px;
    padding: 20px;

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 20px;
    }

    .form__group {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 30px;
      gap: 10px;

      .mensagem__erro {
        font-size: 12px;
        padding: 0;
        margin-left: -20px;
        color: red;
        margin-top: -25px;
        margin-bottom: 20px;
      }

      &__input {
        min-width: 300px;
        width: 60%;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 30%;
        min-width: 150px;
      }
    }
  }
}
