<app-toolbar></app-toolbar>

<div class="container">
  <div class="card">
    <div class="card__body">
      <div class="tab__info">
        <h2>Criação de comunidade</h2>
        <mat-divider></mat-divider>
      </div>
      <form [formGroup]="communityForm" class="form__group">
        <app-image-upload
          (imageSelected)="onImageSelected($event)"
        ></app-image-upload>

        <mat-form-field appearance="outline" class="form__group__input">
          <mat-label>Nome</mat-label>
          <input
            matInput
            placeholder="insira nome da comunidade"
            formControlName="name"
          />
        </mat-form-field>
        <div
          class="mensagem__erro"
          *ngIf="
            communityForm.get('name')?.errors &&
            communityForm.get('name')?.touched
          "
        >
          O campo nome é obrigatorio
        </div>

        <mat-form-field appearance="outline" class="form__group__input">
          <mat-label>Descrição</mat-label>
          <input
            matInput
            placeholder="insira uma descrição curta"
            formControlName="description"
          />
        </mat-form-field>

        <div
          class="mensagem__erro"
          *ngIf="
            communityForm.get('description')?.errors &&
            communityForm.get('description')?.touched
          "
        >
          A descrição é um campo obrigatorio
        </div>
        <mat-form-field appearance="outline" class="form__group__input">
          <mat-label>Regras</mat-label>
          <input
            matInput
            placeholder="insira as regras da comunidade"
            formControlName="communityRules"
          />
        </mat-form-field>
      </form>
      <div class="actions">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!isCommunityFormValid()"
          (click)="submitForm()"
        >
          Criar
        </button>
      </div>
    </div>
  </div>
</div>
