.toolbar {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;

  &__content {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto; // Adiciona margem automática para centralizar horizontalmente

    .login {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }

  .menu {
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 10;
    margin-bottom: 40px; // Adiciona margem inferior para evitar o deslocamento do conteúdo abaixo

    .mat-toolbar-row {
      height: 40px;
      display: none; // Esconde por padrão todas as linhas da toolbar
    }

    .mat-toolbar-row.has-access {
      display: flex; // Exibe as linhas que possuem acesso
    }
  }

  .logo {
    display: flex;
    align-items: center;
    height: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .login {
    gap: 20px;
  }
}
