<app-toolbar></app-toolbar>

<div class="container">
  <div class="profile">
    <div class="profile-info">
      <img
        class="profile-picture"
        [src]="community.imageSrc"
        alt="Profile Picture"
      />
      <h2 class="fullname">{{ community.name }}</h2>
      <p class="id">{{ community.description }}</p>
      <p class="id">{{ community.communityRules }}</p>
      <p class="id">ID: {{ community.id }}</p>
      <p></p>
    </div>
    <div class="profile_actions">
      <button
        mat-raised-button
        color="primary"
        *ngIf="canApply('ATHLETE') && !verifyIfExist(membership, username, 'APPROVED')"
        (click)="applyOnCommunity()"
      >
        Aplicar
      </button>
      <div class="profile_actions_configs" *ngIf="verifyIfExist(membership, username, 'APPROVED')">
        <button mat-raised-button>
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-raised-button>
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div class="community-tabs">
      <mat-tab-group>
        <mat-tab label="Membros">
          <div *ngFor="let member of membership" class="card-members">
            <mat-card (click)="redirectToUserProfile(member.username)">
              <mat-card-header>
                <div class="card-header-content">
                  <div class="image-container">
                    <img
                      alt="athlete image"
                      mat-card-sm-image
                      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    />
                  </div>
                  <div class="text-container">
                    <mat-card-title-group>
                      <mat-card-title>{{ member.athleteName }}</mat-card-title>
                      <mat-card-subtitle>{{member.communityProfile}}</mat-card-subtitle>
                    </mat-card-title-group>
                  </div>
                </div>
              </mat-card-header>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Agendamentos" [disabled]="!verifyIfExist(membership, username, 'APPROVED')"></mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
